.footer-bottom {
    background-color: #303030;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}

.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up a {
    color: white;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid #0282F9;


}

.social {
    display: flex;
    align-items: center;
}

.social ul {
    display: flex;
}

.social li {
    padding: 0 5px;
}

.social h3 {
    color: #0282F9;
    padding: 0 10px;
}